@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800;900&display=swap');

body , * {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}